
{% extends "layout.html" %}

{% block title %}
    Blog
{% endblock %}


{% block main %}
<h1>{{type}}</h1>
<h2>Welcome to The Eye's blog</h2>
{% if relist==[] %}
<p>Nothing is available right now. Come back later.</p>
{% else %}
{% for i in relist %}
<a style="color:white;text-decoration: none;" href="https://files.cseatheeye.com/Technical-Codebase/the-eye-homepage/templates/{{url_for('blogPost',&#32;post_id=i['_id'])}}"><section id="events">
    <p><span style="font-size: 45px;">{{i['title']}}</span><br>Written by {{i['author']}} on {{i['date']}}<br/>{{i['content'][:250] | safe}}...</p>
  </section>
</a>
{% endfor %}
{% endif %}
<br/><br/>
{% endblock %}