<!DOCTYPE html>
<html>
  <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Breach 2022 | The Eye, CSEA, PSG College of Technology</title>
  <link rel="stylesheet" href="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',filename='styles.css')}}"/>
  <link rel="icon" href="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',&#32;filename='FAVICON.png')}}"/>
  <link rel="stylesheet" href="https://ianlunn.github.io/Hover/css/hover.css"/>
</head>
<body>
  <div id="main">

    <div id="hero">
      <h1>BREACH 2022</h1>
    </div>

    <div id="background"></div>

    <div id="about">
      <h1>ABOUT</h1><b>DATES : 13TH AND 14TH OCTOBER, 2022</b><br/>
      <p>This Workshop will have 4 Sessions, split into 2 per day.This is only open to CSE Department Students of 2nd, 3rd and 4th Years. The workshop timings are from 4:30PM to 6:00PM.</p>
      <h2>Session 1</h2>
            <p>Session 1 will cover common IT Laws and real-life Analysis of
            Security Incidents and how to be safe and report cybercrimes. It
            will be a non-technical session.</p>
      <h2>Session 2</h2>
            <p>Session 2 will cover Technical Training with simulated
            CyberPhysicalSystems, Web Attacks, Viruses and Ransomware, etc. This
            will cover a brief on CPS/IoT/SCADA Hacking and XSS Attacks
            <h2>Session 3</h2>
            Session 3 will explain the networking protocol security.</p>
            <h2>Session 4</h2>
            <p>Session 3 will introduce the audiences to Dark Web and Dark Web
            Monitoring. It will also give a brief on Networking Models and
            Topography, and the security aspect in networks. It will also
            demonstrate some social engineering.</p>
    </div>

    <div id="committee">
      <h1>ORGANIZING COMMITTEE</h1>
      <div class="person">
        <img src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',&#32;filename='aadi.jpg')}}"/>
        <h2>Aaditya Rengarajan</h2>
        <h3>National Security Database Certified Penetration Tester</h3>
        <p>Aaditya Rengarajan is a National Security Database Certified Penetration Tester, recognized by the Governments of India and Kuwait as a Security Researcher and has more than 1 year of experience in the field of CyberSecurity.</p>
      </div>
      <div class="person">
        <img src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',&#32;filename='dhanu.png')}}"/>
        <h2>Dhanush Gowdhaman</h2>
        <h3>CTF Player and Security Researcher</h3>
        <p>Dhanush Gowdhaman is an active CTF Player and Ethical Hacker with experience in multiple CTF-Based ethical hacking competitions in the past.</p>
      </div>
      <div class="person">
        <img src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',&#32;filename='aadhi.png')}}"/>
        <h2>Aadhithyashri Manikandan</h2>
        <h3>CTF Player and Security Researcher</h3>
        <p>Aadhithyashri Manikandan is an active CTF Player with experience in CTF-Based ethical hacking competitions, and also has experience in framing encryption algorithms in the field of cryptography.</p>
      </div>
      <div class="person">
        <img src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',&#32;filename='sub.png')}}"/>
        <h2>Soorya Subramani</h2>
        <h3>Security Researcher</h3>
        <p>Soorya Subramani is a security researcher and is somewhat new to the field of Cybersecurity, yet has a lot of information and knowledge to share during the event.</p>
      </div>
    </div>

    <div id="committee">
      <h1>VOLUNTEERING COMMITTEE</h1>
      <p>The volunteering committee for the event includes Shruti S, M Hemali, Sanjay P, Amruth Warrier, Sanjay K, Roshan Vasudev, and Harri Sasthaa.</p>
      <p>This website was developed by Shruti S, M Hemali, Aaditya Rengarajan, Sanjay P, Harri S and Amruth Warrier.</p>
    </div>

    <a class="nav-item nav-boxed" href="index.html#main" id="to-top">BACK TO TOP</a>

  </div>

  <script type="text/javascript">
    const btnScrollToTop = document.querySelector("#to-top");

    // scroll to top of page when button clicked
    btnScrollToTop.addEventListener("click", e => {
      window.scrollTo({
        top: 0,
        left: 0,
        behavior: "smooth"
      });
    });

    // toggle 'scroll to top' based on scroll position
    window.addEventListener('scroll', e => {
      btnScrollToTop.style.display = window.scrollY > 40 ? 'block' : 'none';
    });
  </script>
  <script type="text/javascript" src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',filename='three.r134.js')}}"></script>
  <script type="text/javascript" src="https://files.cseatheeye.com/Events/BREACH-TRIX-1.13.10.2022/FEEDBACK_FORM/templates/{{url_for('static',filename='vanta.globe.js')}}"></script>
  <script>
  VANTA.GLOBE({
    el: "#background",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xff7800,
    color2: 0xff7800,
    backgroundColor: 0x0
  })
  </script>
</body>
</html>